.div1{
    background-color: rgba(255, 255, 255, 0.745);
    height: 300px;
    width: 300px;
    margin-left: 50%;
    margin-top: 300px;
    transform: translate(-50%,-50%);
}

.div2{
    background-color: rgb(227, 227, 227);
    width: 300px;
    height: 80px;
    border-radius: 15px;
    position: relative;
    z-index: 1;
}
.div2-1{
    width: 50px;
    height: 50px;
    background-color: rgb(8, 186, 186);
    border-radius: 50%;
    margin: 50%;
    transform: translate(-50%,30%);
}
.div2-1-1{
    position: absolute;
    width: 42px;
    height: 42px;
    background-color: rgba(192, 235, 231, 0.618);
    border-radius: 50%;
    margin-left: 50%;
    margin-top: 50%;
    transform: translate(-50%,-50%);
}
.div2-2{
    position: absolute;
    top: 30px;
    left: 20px;
    background-color: rgba(0, 0, 0, 0.878);
    width: 25px;
    height: 25px;
    border-radius: 50%;
    
}
.div2-3{
    position: absolute;
    top: 30px;
    left: 50px;
    background-color: rgba(0, 0, 0, 0.878);
    width: 25px;
    height: 25px;
    border-radius: 50%;
}
.div2-4{
    position: absolute;
    top: 54px;
    left: 57px;
    background-color: rgba(0, 0, 0, 0.707);
    width: 10px;
    height: 10px;
}
.div2-5{
    position: absolute;
    top: 54px;
    left: 27.5px;
    background-color: rgba(0, 0, 0, 0.707);
    width: 10px;
    height: 10px;
}
.div2-6{
    position: absolute;
    top: 10px;
    left: 90%;
    background-color: rgb(151, 151, 151);
    width: 10px;
    height: 25px;
    
}

.div2-7{
    position: absolute;
    top: 10px;
    left: 85%;
    background-color: rgb(151, 151, 151);
    width: 10px;
    height: 25px;
    
}

.div2-8{
    position: absolute;
    top: 10px;
    left: 80%;
    background-color: rgb(151, 151, 151);
    width: 10px;
    height: 25px;
    
}
.div3{
    background-color:rgb(151, 151, 151);
    width: 90%;
    height: 50%;
    margin-left: 5%;
    z-index: -1;

}
.div3-1{
    margin: auto;
    position: relative;
    background-color: rgb(84, 81, 81);
    width: 90%;
    height: 55%;
    top: 45%;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;

}
.div3-2{
    position: absolute;
    background-color: black;
    width:60px;
    height:25px;
    top: 80px;
    left: 50%;
    transform: translate(-50%);
    
}
.div3-3{
    position: absolute;
    background-color: black;
    width:50px;
    height:25px;
    top:100px;
    left: 50%;
    transform: translate(-50%);
    border-bottom-right-radius:50%;
    border-bottom-left-radius: 50%;
}
.div3-4{
    position: absolute;
    background-color: black;
    width:10px;
    height:10px;
    top: 125px;
    left: 50%;
    transform: translate(-50%);
}
.div3-5{
    position: absolute;
    background-color: black;
    width:60px;
    height:18px;
    top: 100px;
    left: 63.5%;
    
}
.div3-6{
    position: absolute;
    background-color: rgb(97, 97, 97);
    width:16px;
    height:5px;
    top: 107px;
    left: 61%;
    transform: translate(-50%);
    
}
.div4{
    margin: auto;
    background-color: rgb(0, 247, 255);
    height: 13px;
    width: 95%;
    border-radius: 20px;

}
.div5{
    
    background-color: black;
    height: 20px;
    width: 100%;
}
.div3-1-1{
    position: relative;
    background-color: white;
    width:70px;
    height:43px;
    top: 40px;
    left: 50%;
    transform: translate(-50%);
    border-radius: 0 0 70px 70px;
    bottom: 0;
    z-index: 1;
}
.div3-1-2{
    position: absolute;
    width: 17px;
    height: 17px;
    position: absolute;
    top: 45px;
    left: 59%;
    border: 5px solid #FFF;
    border-radius: 50%;
}
.div3-1-3{
    position: relative;
    background-color: rgb(187, 119, 11);
    width:10px;
    height:100px;
    top: -170px;
    left: 50%;
    transform: translate(-50%);
    animation-name: kofe;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    
    
}

@keyframes kofe{
    from{
        top: -170px;
    }
    to{
        top: -100px;
    }

}
.div3-1-4{
    position: absolute;
    top: 0px;
    left: 55%;
    background-color: rgba(151, 151, 151, 0.845);
    width: 10px;
    height: 25px;
    border-radius: 35%;
    animation-name: duman;
   
    animation-duration: 4s;
    
    animation-iteration-count: infinite;
}
.div3-1-5{
    position: absolute;
    top: 3px;
    left: 40%;
    background-color: rgba(151, 151, 151, 0.845);
    width: 10px;
    height: 25px;
    border-radius: 35%;
    animation-name: duman1;
   
    animation-duration: 4s;
    
    animation-iteration-count: infinite;
}

.div3-1-6{
    position: absolute;
    top: 3px;
    left: 45%;
    background-color: rgba(151, 151, 151, 0.845);
    width: 10px;
    height: 25px;
    border-radius: 35%;
    animation-name: duman2;
   
    animation-duration: 4s;
    
    animation-iteration-count: infinite;
}


@keyframes duman{
    from{
        top: 50px;
        
    }
    to{
        top: 0px;
    }
}
@keyframes duman1{
    from{
        top: 40px;
        
    }
    to{
        top: 0px;
    }
}
@keyframes duman2{
    from{
        top: 60px;
        
    }
    to{
        top: 0px;
    }
}